html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303030;
  line-height: 1.42;
  font-weight: normal;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 221, 221, .4);
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}